
################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
.vs
.svn
.Publish
*.suo
*.user
**/bin
**/obj
**/Properties
**/node_modules
UI/src/pages
MainCore/Logs
MainCore/wwwroot
MainCore/Controllers/Works
MainCore/DataProtection
WebModel/WorkEntity
WebModel/WorkRoot
UI/package-lock.json
